@font-face {
  font-family: "Roboto";
  src: url("../public//fonts//Roboto/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.body > * {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

.status {
  /* position: absolute; */
}
.status > * {
  /* background: black; */
  margin: 0;
  padding: 0;
}

.messageDiv {
  z-index: 10;
  background-color: #272727;
  width: 50vw;
  height: 75vh;
  margin: auto;
  transform: translateY(-3vh);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-start; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* overflow-y: scroll; */
}

/* @keyframes grow {
  from {
    height: 75px;
  }
  to {
    height: auto !important;
  }
} */

/* .bigMessage {
  height: auto !important;
  background: red !important;

  overflow: initial !important;
}
.bigMessage > h1 {
  text-overflow: initial !important;

  white-space: nowrap;
  overflow: hidden;
} */

.arrow {
  /* background: black; */
  min-height: 35px;

  min-width: 35px;
  margin: auto 0;
  top: 0;
  bottom: 0;
  transform: translateY(3px);
}
.message {
  cursor: pointer;
  background: #626262;
  width: 95%;
  min-height: 75px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.copied {
  background-color: rgb(42, 100, 42) !important;
}
.message > h1 {
  /* text-overflow: ellipsis;

  white-space: nowrap;
  overflow: hidden; */
  font-size: 1.8rem;
}

.sendForm {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 90vw;
}

.sendForm > input {
  width: 50vw;
  /* height: 5vh; */
  border-radius: 5px;
  border: 0;
  text-indent: 10px;
  font-size: 1.25rem;
}

.sendForm > * {
  max-height: 75px;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0);
}

.sendForm > button {
  width: 10vw;
  height: 7.5vh;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  text-overflow: clip;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.sendForm > input {
  outline: none;
}

@keyframes pressed {
  from {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0);
  }
  50% {
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0);
  }
  to {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0);
  }
}
.sendForm > button:active {
  animation: pressed 0.25s ease-in-out;
}

.sendForm > button:focus {
  outline: none;
}

.Send {
  background: #315416;
}

.Disconnect {
  background: #902929;
}

.connectedBlur {
  width: 0;
  height: 0;
  background: transparent;
}

.disconnectedBlur {
  width: 100%;
  background: rgba(117, 117, 117, 0.5);
  /* filter: blur(10rem); */
  height: 100%;
  padding: 0 0;
  margin: 0 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 11;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid grey;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cancelBtn {
  background: grey;
  border: 1px solid white;
  width: 100px;
  height: 50px;
  color: white;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-size: 1.25rem;
  border-radius: 10px;
  left: 0;
  right: 0;
  /* top: 0; */
  bottom: 5%;
  margin: auto;
  position: absolute;
  /* transform: translateY(200%); */
}

.cancelBtn:focus {
  outline: none;
}
