@font-face {
  font-family: "Roboto";
  src: url("../public//fonts//Roboto/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.body > * {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

.status > * {
  /* background: black; */
  margin: 0;
  padding: 0;
}

.messageDiv {
  background-color: #272727;
  width: 50vw;
  height: 75vh;
  margin: auto;
  transform: translateY(-3vh);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-start; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

/* @keyframes grow {
  from {
    height: 75px;
  }
  to {
    height: auto !important;
  }
} */

.bigMessage {
  /* height: initial !important; */
  /* background-color: white !important; */
  /* animation: grow 0.2s ease-in-out; */
  height: initial !important;

  /* overflow: hidden; */
}
.bigMessage > h1 {
  /* overflow: hidden; */
  text-overflow: initial !important;

  white-space: initial !important;
  overflow: initial !important;
}

.message {
  cursor: pointer;
  background: #626262;
  width: 95%;
  height: 75px;
  overflow: hidden;
  display: flex;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.message > h1 {
  text-overflow: ellipsis;

  white-space: nowrap;
  overflow: hidden;
  font-size: 1.8rem;
}

.sendForm {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 90vw;
}

.sendForm > input {
  width: 50vw;
  /* height: 5vh; */
  border-radius: 5px;
  border: 0;
  text-indent: 10px;
  font-size: 1.25rem;
}

.sendForm > * {
  max-height: 75px;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0);
}

.sendForm > button {
  width: 10vw;
  height: 7.5vh;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  text-overflow: clip;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.sendForm > input {
  outline: none;
}

@keyframes pressed {
  from {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0);
  }
  50% {
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0);
  }
  to {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0);
  }
}
.sendForm > button:active {
  animation: pressed 0.25s ease-in-out;
}

.sendForm > button:focus {
  outline: none;
}

.Send {
  background: #315416;
}

.Disconnect {
  background: #902929;
}

.arrow {
  /* background: black; */
  height: 100%;
  width: 5%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  transform: translateY(5px);
}
